@media(max-width: 768px){
    .barcode-details{
        display: flex;
        justify-content: center;
    }
    .add-btn{
        display: none;
    }
    .pd-description, .pd-description h5 b{
        font-size: 1rem;
    }
    .platforms h3{
        font-size: 1.2rem;
    }
}
/* .add-btn{
    display: none;
} */
.pd-description, .pd-description h5 b{
    font-size: 1.3rem;
}
.pd-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-msg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btm-btns{
    background-color: white;
}