@media (max-width: 767px) {
    .add-btn {
        transform: scale(0.9);
    }
}
@media (max-width: 567px) {
    .add-btn {
        transform: scale(0.8);
    }
}
a{
    text-decoration: none;
}
.add-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 1rem 2rem;
    padding: 0.7rem 1rem;
    background-color: #146C94;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.add-btn a{
    color: white;
    display: flex;
    align-content: center;
    z-index: -1;
}
.add-btn span{
    margin-right: 0.5rem;
}