a{
    text-decoration: none;
}
.add-btn{
    cursor: pointer;
    margin: 1rem 2rem;
    padding: 0.7rem 1rem;
    background-color: #146C94;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.add-btn a{
    color: white;
    display: flex;
    align-content: center;
    z-index: -1;
}
.add-btn span{
    margin-right: 0.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4rem;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    bottom: 0;
}